# 1. Import libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Turn your project folder path into a string

path = r'/Users/peterreadman/Desktop/Python Projects/CareerFoundry/04-2020 Instacart Basket Analysis/'

## STEP 1
Import the data set you exported in Exercise 4.9 into a new Jupyter notebook. This should be the merged version of your data that contains the new customers column.

In [3]:
# import df_ords_prods_cust.pkl data set
df = pd.read_pickle(os.path.join(path, '02 Data', '02b Prepared Data', 'df_ords_prods_cust.pkl'))

In [4]:
df.head()

,Order_ID,User_ID,Order_Number,Orders_day_of_the_week,Order_hour_of_day,Days_Since_Prior_Order,Product_ID,Add_To_Cart_Order,Reordered,Unnamed: 0,...,Frequency_Flag,First_Name,Last_Name,Gender,State,Age,Date_Joined,Dependants,Family_Status,Income
0,2539329,1,1,2,8,NaN,196,1,0,195,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,195,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,195,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,195,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,195,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2019-02-17,3,married,40423

## STEP 2
*Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis*

In [5]:
df.columns

Index(['Order_ID', 'User_ID', 'Order_Number', 'Orders_day_of_the_week',
       'Order_hour_of_day', 'Days_Since_Prior_Order', 'Product_ID',
       'Add_To_Cart_Order', 'Reordered', 'Unnamed: 0', 'Product_Name',
       'Aisle_ID', 'Department_ID', 'Prices', '_merge', 'Rrice_Range_Loc',
       'Busiest_Day', 'Busiest_Days', 'Busiest_Period_of_Day', 'Max_Order',
       'Loyalty_Flag', 'Mean_Prices', 'Spending_Flag', 'Median_Days',
       'Frequency_Flag', 'First_Name', 'Last_Name', 'Gender', 'State', 'Age',
       'Date_Joined', 'Dependants', 'Family_Status', 'Income'],
      dtype='object')

In [7]:
# Drop the 'First_Name' and 'Last_Name' columns
df = df.drop(['First_Name','Last_Name'],axis=1)

In [8]:
# drop 'Unnamed: 0' column

df = df.drop(columns=['Unnamed: 0'])

In [9]:
# Correct typo by Renaming 'Dependants' as 'Dependents'
df.rename(columns={'Dependants': 'Dependents'}, inplace=True)

In [13]:
df['Dependents'].value_counts()

3    8135109
0    8097503
2    8091143
1    8081104
Name: Dependents, dtype: int64

## STEP 3
*The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers*

### STEP 3a
*Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions)*

#### Region 1 (Northeast)
Maine,
New Hampshire,
Vermont,
Massachusetts,
Rhode Island,
Connecticut,
New York,
Pennsylvania,
New Jersey
#### Region 2 (Midwest)
Wisconsin,
Michigan,
Illinois,
Indiana,
Ohio,
North Dakota,
South Dakota,
Nebraska,
Kansas,
Minnesota,
Iowa,
Missouri
#### Region 3 (South)
Delaware,
Maryland,
District of Columbia,
Virginia,
West Virginia,
North Carolina,
South Carolina,
Georgia,
Florida,
Kentucky,
Tennessee,
Mississippi,
Alabama,
Oklahoma,
Texas,
Arkansas,
Louisiana
#### Region 4 (West)
Idaho,
Montana,
Wyoming,
Nevada,
Utah,
Colorado,
Arizona,
New Mexico,
Alaska,
Washington,
Oregon,
California,
Hawaii

In [14]:
# Assign region labels to states
# 1 Northeast: Maine, New Hampshire, Vermont, Massachusetts, Rhode Island, Connecticut, New York, Pennsylvania, New Jersey
# 2 Midwest: Wisconsin, Michigan, Illinois, Indiana, Ohio, North Dakota, South Dakota, Nebraska, Kansas, Minnesota, Iowa, Missouri
# 3 South: Delaware, Maryland, District of Columbia, Virginia, West Virginia, North Carolina, South Carolina, Georgia, Florida, Kentucky, Tennessee, Mississippi, Alabama, Oklahoma, Texas, Arkansas, Louisiana,
# 4 West: Idaho, Montana, Wyoming, Nevada, Utah, Colorado, Arizona, New Mexico, Alaska, Washington, Oregon, California, Hawaii

result = []

for value in df["State"]:
  if (value == 'Maine') or (value == 'New Hampshire') or (value == 'Vermont') or (value == 'Massachusetts') or (value == 'Rhode Island') or (value == 'Connecticut') or (value == 'New York') or (value == 'Pennsylvania') or (value == 'New Jersey'):
    result.append("Northeast")
  elif (value == 'Wisconsin') or (value == 'Michigan') or (value == 'Illinois') or (value == 'Indiana') or (value == 'Ohio') or (value == 'North Dakota') or (value == 'South Dakota') or (value == 'Nebraska') or (value == 'Kansas') or (value == 'Minnesota') or (value == 'Iowa') or (value == 'Missouri'):
    result.append("Midwest")
  elif (value == 'Idaho') or (value == 'Montana') or (value == 'Wyoming') or (value == 'Nevada') or (value == 'Utah') or (value == 'Colorado') or (value == 'Arizona') or (value == 'New Mexico') or (value == 'Alaska') or (value == 'Washington') or (value == 'Oregon') or (value == 'California') or (value == 'Hawaii'):  
    result.append("West")
  else:
    result.append("South")

In [15]:
df['Region'] = result
df['Region'].value_counts(dropna = False)

South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: Region, dtype: int64

In [16]:
df.shape

(32404859, 32)

In [17]:
# Check there are the correct number of states in each 'Region' 
check = df.groupby('Region')['State'].nunique()
print(check)

Region
Midwest      12
Northeast     9
South        17
West         13
Name: State, dtype: int64

### STEP 3b
*Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)*

In [ ]:
pd.set_option('display.max_columns', None)
df.head()

In [ ]:
# Create a crosstab

crosstab = pd.crosstab(df['Region'], df['Spending_Flag'], dropna = False)

In [ ]:
crosstab.to_clipboard()

2.1% of Midwest customers are 'High Spenders'
1.9% of all other regions customers are 'High Spenders'

There is not much difference between the regions in terms of numbers of High and Low spenders

## STEP 4
*The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.*

In [ ]:
df.loc[df['Max_Order'] < 5, 'Low_Activity'] = 'Yes'
df.loc[df['Max_Order'] >= 5, 'Low_Activity'] = 'No'

In [ ]:
df.head()

In [ ]:
df.value_counts('Low_Activity')

In [ ]:
# drop rows where 'Low_Activity' does not equal 'Yes' and store in new dataframe df_high_activity'
df_high_activity = df[df.Low_Activity != 'Yes']

In [ ]:
# Check the shape of new dataframe. Number of rows should equal 'No' value_count from df:
df_high_activity.shape

In [ ]:
# Export this data frame
df_high_activity.to_pickle((os.path.join(path, '02 Data', '02b Prepared Data', 'orders_products_merged_high_activity.pkl')))