# 1. Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Turn your project folder path into a string

path = r'/Users/peterreadman/Desktop/Python Projects/CareerFoundry/04-2020 Instacart Basket Analysis/'

In [4]:
# import products.csv data set
df_prods = pd.read_csv(os.path.join(path, '02 Data', '02a Original Data', 'products.csv'), index_col = False)

In [5]:
# import orders_wrangled.csv data set
df_ords = pd.read_csv(os.path.join(path, '02 Data', '02b Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [6]:
# import orders.csv data set
df_ords = pd.read_csv(os.path.join(path, '02 Data', '02a Original Data', 'orders.csv'), index_col = False)

In [7]:
# import orders_products_merged

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', '02b Prepared Data', 'orders_products_merged.pkl'))

# 2. Crosstabs

In [8]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [9]:
# Create a crosstab

crosstab = pd.crosstab(ords_prods_merge['days_since_last_order'], ords_prods_merge['order_number'], dropna = False)

In [10]:
crosstab.to_clipboard()